htmladventurepart2:
  title: "HTML Adventure Part 2"
  paths: [
    "##base_dir##/part2"
  ]
htmladventurepart3fantasy:
  title: "HTML Adventure Part 3 - fantasy"
  paths: [
    "##base_dir##/part3/fantasy"
  ]
htmladventurepart3scifi:
  title: "HTML Adventure Part 3 - sci-fi"
  paths: [
    "##base_dir##/part3/scifi"
  ]
htmladventurepart3adventure:
  title: "HTML Adventure Part 3 - adventure"
  paths: [
    "##base_dir##/part3/adventure"
  ]
